@font-face {
	font-family: Fira Code;
	src: local("Fira Code"), url("fonts/FiraCode-Regular.woff2") format("woff2");
}

body {
	background: #202020;
	color: #fff;
}

#root {
	font-family: Fira Code;
	transition: all 300ms ease-out;
}

#root:hover {
	color: #00ffff;
}
